.playerControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.playerBtnPrevSvg {
  width: 15px;
  height: 14px;
}

.playerBtnPlaySvg {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.playerBtnNextSvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.playerBtnRepeatSvg {
  width: 18px;
  height: 12px;
  fill: transparent;
}

.playerBtnShuffleSvg {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}
